/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET.CSS ABOVE */



/* Styles and positions li's */
ul li {
	display: inline;
	font-size: 40px;	
	padding: 10px;
	margin: 0 auto;
}

/* Positions main navigation links */
.hac {
	text-align: right;
	padding-bottom: 30px;
}

/* Styles navigation container */
.navigation {
	/* Custom purple color from hi-fi wireframe */
	background-color: rgba(102,52,151,255);
	list-style: none;
	width: 100%;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: rgba(147,199,116,255);
}

a:hover, a:active {
	color: greenyellow;
}

.contact {
	padding-right: 5%;
}

/* animates/resizes site logo */
.sitelogo {
    width: 10%;
	display: flex;	
}

/* Styles and positions "skip to main content" skip link */
.skip {
    display: flex;
    position: absolute;
	right: 40%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
	color: rgba(102,52,151,255);
	background-color: rgba(147,199,116,255);
	padding: 10px;
  }

/* Styles and sizes image, as well as positions */
.cakepop {
	display: flex;
	margin: 10px auto;
	width: 70%;
	border: solid rgba(102,52,151,255) 10px;
  }

/* styles background color of site to match wireframe */
html {
	background-color: rgba(147,199,116,255);
	min-height: 100%;
  }



footer {
	background-color: rgba(102,52,151,255);
	padding: 20px;
}
