/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET.CSS ABOVE */






/* DESKTOP CSS BELOW (as we only have desktop wireframe) */


/* Styles and positions list items (navigation) */
ul li {
	display: inline;
	font-size: 40px;	
	padding: 10px;
	margin: 0 auto;
}

/* Positions main navigation links */
.hac {
	text-align: right;
	padding-bottom: 30px;
	padding-top: 30px;
}

/* Styles navigation container */
.navigation {
	/* Custom purple color from hi-fi wireframe */
	background-color: rgba(102,52,151,255);
	list-style: none;
	width: 100%;
}

/* Removes underline from all links */
a {
	text-decoration: none;
	font-family: 'Tilt Warp', cursive;
}

/* Styles sitting links and visited links */
a:link, a:visited {
	color: rgba(147,199,116,255);
}

/* Styles hovered links and active links */
a:hover, a:active {
	color: greenyellow;
}

/* Adds padding to right side of navigation */
.contact {
	padding-right: 5%;
}

/* animates/resizes site logo */
.sitelogo {
    width: 100px;
	display: flex;
	float: left;
}

/* Animates site logo when hovering (for fun) */
.sitelogo:hover {
	transform:rotateY(2turn);
  	transition:transform 4s;
}

/* Animates site logo when active (for fun) */
.sitelogo:active {
	transform: rotateX(4turn) scale(0.2);
 	transition: transform 4s;
}

/* Styles and positions "skip to main content" skip link */
.skip {
    display: flex;
    position: absolute;
	right: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
	color: rgba(102,52,151,255);
	padding: 10px;
	padding-left: 100px;
  }

/* Styles and sizes image, as well as positions */
.cakepop {
	display: flex;
	margin: 10px auto;
	width: 80%;
	border: solid rgba(102,52,151,255) 10px;
  }

/* styles background color of site to match wireframe */
html {
	background-color: rgba(147,199,116,255);
	min-height: 100%;
  }

/* styles the footer to match wireframe */
footer {
	background-color: rgba(102,52,151,255);
	font-size: larger;
	padding: 20px;
	display: flex;
	justify-content: center;
	font-family: 'Tilt Warp', cursive;
} 

/* Adds padding to unsplash link, adds "float" animation to unsplash link*/
.unsplash {
	padding-right: 1%;
	animation-name: float;
	animation-duration: 4s;
	animation-delay: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

/* Styles and positions h3's */
h3 {
	font-size: 40px;
	font-family: 'Tilt Warp', cursive;
	padding-bottom: 1.5%;
	display: grid;
	justify-content: left;
	padding-bottom: 2%;
	color: rgba(102,52,151,255);
}

@keyframes float {
	0%,
	100% {
	  border-radius: 30%;
	  transform-origin: 50px 70px;
	}
  
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(-20deg);
	}
  }

/* Styles and positions h4's */
h4 {
	display: flex;
	justify-content: center;
	font-size: 40px;
	font-family: 'Tilt Warp', cursive;
	padding: 3%;
	color: rgba(102,52,151,255);
}

/* adds padding to all paragraphs within an article */
article p {
	padding: 1%;
}

/* Styles all paragraph text */
p {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	color: rgba(102,52,151,255);
}

h1 {
	display: flex;
	justify-content: center;
	font-family: 'Tilt Warp', cursive;
	padding-bottom: 20px;
	padding-top: 10px;
	font-size: 40px;
	color: rgba(102,52,151,255);
}

/* Positions home <main> content using grid */
.home1 {
	display: grid;
	grid-auto-flow: column;
	margin: 0 auto;
}

/* Adds padding to our products body text */
.ourproductsh {
	padding-right: 20%;
	padding-top: 5%;
	padding-left: 1%;
	padding-bottom: 5%;
}

/* Adds padding to about us body text */
.aboutush {
	padding-top: 5%;
	padding-left: 20%;
	padding-right: 1%;
	padding-bottom: 5%;
}

/* Styles and positions chocolate cake image at bottom of "about us" page */
.chocolatecake {
	width: 50%;
	display: flex;
	justify-content: center;
	margin: 30px auto;
	border: solid rgba(102,52,151,255) 10px;
}

/* Centers the form on the page */
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: 20px;
  }
  
  /* styles the form */
  label {
	display: block;
	font-family: 'Tilt Warp', cursive;
	margin-bottom: 1rem;
	color: black;
	font-size: 1.25rem;
  }
  
  /* styles input sections */
  input[type="text"], input[type="email"], textarea {
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid #ccc;
	margin-bottom: 1rem;
	width: 100%;
	max-width: 400px;
  }

/* Positions textarea */
  textarea {
	height: 150px;
  }
  
  /* Styles the submit button */
  button[type="submit"] {
	background-color: rgba(102,52,151,255);
	color: rgba(147,199,116,255);
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
  }
  
  /* Animates hovering over the submit button by changing stylization when hovering */
  button[type="submit"]:hover {
	background-color: rgba(80,52,151,255);
  }


/* MOBILE DESIGN BELOW */


@media only screen and (max-width: 600px) {
	/* Styles and positions list items (mobile navigation) */
	ul li {
		display: flex;
		font-size: 40px;	
		padding: 10px;
		justify-items: center;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	/* Positions main navigation links (mobile) */
	.hac {
		text-align: center;
		padding-bottom: 60px;
		padding-top: 30px;
		justify-content: center;
		display: flex;
	}
	 
	/* animates/resizes site logo (mobile)*/
	.sitelogo {
		width: 50%;
		margin: 0 auto;
		display: flex;
		padding: 20px;
	}

	/* Adds padding to unsplash link, adds "float" animation to unsplash link (mobile)*/
	.unsplash {
	padding-right: 1%;
	animation-name: float;
	animation-duration: 4s;
	animation-delay: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

	/* Styles and positions "skip to main content" skip link (mobile) */
	.skip {
		display: flex;
		position: absolute;
		right: 80%;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
		color: rgba(102,52,151,255);
		padding: 10px;
	}

	/* Styles and sizes image, as well as positions (mobile)*/
	.cakepop {
		display: flex;
		margin: 10px auto;
		width: 85%;
		border: solid rgba(102,52,151,255) 10px;
	}


	/* Positions home <main> content using grid (mobile)*/
	.home1 {
		display: grid;
		margin: 0 auto;
		grid-auto-flow: row;
		justify-content: center;
	}


	/* Styles and positions chocolate cake image at bottom of "about us" page (mobile)*/
	.chocolatecake {
		width: 80%;
		display: flex;
		justify-content: center;
		margin: 30px auto;
		border: solid rgba(102,52,151,255) 10px;
	}

}